<li role = "none" class = "profileOption">
	<a class = "optionsBtn create-order-modal-btn " href="#create-order-modal" uk-toggle>
		<h3 class = "medium-text"> Create User</h3>
		<div uk-icon="plus"></div>
	</a>
</li>
<div id="create-order-modal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Creating New User</h2>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <form action = "/create-user" method = "POST">
                        	<div class = "register-form-rows uk-flex uk-flex-between uk-flex-wrap ">
	                            <div class="register-form-columns ">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "fname" title = "It should be your real name" class=" login-input uk-input" required="true" type="text" placeholder="Full Name">
	                                    <span  class="info-btn uk-form-icon" uk-tooltip = "Required" uk-icon="icon: info"></span>
	                                </div>
	                            </div>

	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "profile_name" title = "It must associate with real account" required="true" class="login-input uk-input" type="text" placeholder="Profile Name (Amazom/Flipcart)">
	                                    <span   uk-tooltip = "Required" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>
	                            
	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "email" class="login-input uk-input" type="email" placeholder="Email">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>

	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "telegram_id" class="login-input uk-input" type="text" placeholder="Telegram ID">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "whatsapp_no" pattern="^[0-9]{10}$" title = "It must be number of 10 digit"  class="login-input uk-input" type="text" placeholder="WhatsApp no.">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "alternate_whatsapp_no" pattern="^[0-9]{10}$" title = "It must be number of 10 digit" class="login-input uk-input" type="text" placeholder="Alternate no.">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name  = "paytm_no" pattern="^[0-9]{10}$" title = "It must be number of 10 digit" class="login-input uk-input" type="text" placeholder="Paytm no.">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "google_pay_no" pattern="^[0-9]{10}$" title = "It must be number of 10 digit" class="login-input uk-input" type="text" placeholder="Google-pay no.">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "phone_pay_no" pattern="^[0-9]{10}$" title = "It must be number of 10 digit" class="login-input uk-input" type="text" placeholder="Phone-pay no.">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "upi_id" title = "It must be valid" pattern="a-zA-Z0-9.\-_]{2,49}@[a-zA-Z._]{2,49}" class="login-input uk-input" type="text" placeholder="Primary UPI ID">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>



	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input title = "It must be valid" pattern="a-zA-Z0-9.\-_]{2,49}@[a-zA-Z._]{2,49}" name = "aternate_upi_id" class="login-input uk-input" type="text" placeholder="Alternate UPI ID">
	                                    <span   uk-tooltip = "Optional" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div> 
	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                   	<select class="login-input uk-input" name = "position" required="true">
	                                   		<option value="user">User</option>
	                                   		<option value="manager">Manager</option>
	                                   		<option value="owner">Owner</option>
	                                   	</select>
	                                    <span   uk-tooltip = "Required" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>

	                         </div>
                            <button type = "submit" value = "create-account" class="uk-border-rounded uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Create Now</button>


                        </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </div>
    </div>
</div>

