<li role = "none" class = "profileOption">
	<a class = "optionsBtn create-order-modal-btn " href="#create-order-modal" uk-toggle>
		<h3 class = "medium-text"> Create Order</h3>
		<div uk-icon="plus"></div>
	</a>
</li>
<div id="create-order-modal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Creating New Order</h2>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <form action = "/create-order" method = "POST">
                        	<div class = "register-form-rows uk-flex uk-flex-between uk-flex-wrap ">
	                            <div class="register-form-columns ">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "fname" title = "It should be your product name" class=" login-input uk-input" required="true" type="text" placeholder="Order Name">
	                                    <span  class="info-btn uk-form-icon" uk-tooltip = "Required" uk-icon="icon: info"></span>
	                                </div>
	                            </div>

	                            <div class="register-form-columns 	">
	                                <div class="uk-inline uk-width-1-1">
	                                    <input name = "profile_name" title = "I just know JUFFLER" required="true" class="login-input uk-input" type="text" placeholder="something other">
	                                    <span   uk-tooltip = "Required" class=" info-btn otp-button uk-form-icon " uk-icon="icon: info"></span>
	                                </div>
	                            </div>
	                            
	                            
	                         </div>
	                         {{!-- this hidden input is for position  --}}
	                         <input type="hidden" name="position" , value = "user">
                            <button onclick = "tempUnavalable()" type = "button" value = "create-account" class="uk-border-rounded uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Create Now</button>
                        </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <a href="#modal-group-2" class="uk-button uk-button-primary" uk-toggle>Next</a>
        </div>
    </div>
</div>
<li role = "none" class = "profileOption">
	<a class = "optionsBtn create-order-modal-btn " href="#create-order-modal" uk-toggle>
		<h3 class = "medium-text"> Next Option</h3>
		<div uk-icon="clock"></div>
	</a>
</li>

